@mixin border-radius {
  border-radius: 10px;
}

$color-white: #ffffff;
$color-black: #000000;
$color-box-shadow: #65a797;
$color-mint: #75BDAD;
$color-blue: #e5f8ff;
$color-square-gradient: linear-gradient(4deg, rgba(168,156,162,.29) 55%, rgba(102, 189, 136, 0.08) 100%);
$color-square-webkit-gradient: -webkit-linear-gradient(4deg, rgba(102,189,136,.29) 55%, rgba(168, 156, 162, 0.08) 100%);
